<!--
  ~  Copyright (C) MR3Y - All Rights Reserved
  ~   Unauthorized copying of this file, via any medium is strictly prohibited
  ~   Proprietary and confidential
  ~   Written by MR3Y <abdonasr379@gmail.com>, 2020.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secret.readit">

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>